body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
}
/* Project Card */
#project-card {
  border-radius: 20px;
  margin-top: 100px;
  border: 0.5px solid grey;
}
#project-img {
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 370px;
}
.project-content {
  margin-left: 30px;
  margin-top: 40px;
}
#project-type {
  margin-top: 60px;
}
.project-content h6 {
  margin-top: 90px;
}
@media (max-width: 750px) {
  #project-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 270px;
  }
  .project-content h2 {
    font-size: 20px;
  }
  #project-type {
    margin-top: 10px;
    font-size: 15px;
  }
  #project-location {
    font-size: 15px;
  }
  .project-content h6 {
    margin-top: 50px;
    font-size: 12px;
  }
  .project-content {
    height: 200px;
    margin: 20px 0 0 0;
    text-align: center;
  }
}
/* MESSAGES */
::-webkit-scrollbar {
  width: 2.5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2668b5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #438be0;
}
#test {
  background-color: #f2f2f2;
  height: 200px;
}
.message-history {
  padding: 25px;
}
.messages-container {
  height: 640px;
  background-color: white;
  overflow-y: scroll;
}
.message-me {
  margin-top: 20px;
}
.mm-txt {
  background-color: #74a8fc;
  color: white;
  border-radius: 10px;
  max-width: 550px;
  padding: 10px;
  float: right;
}
.oth-txt {
  background-color: #efefef;
  border-radius: 10px;
  max-width: 550px;
  padding: 10px;
  float: left;
}
#mm-img-container {
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
#mm-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#oth-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message-input-row {
  border-top: 1px solid #e8e9ea;
  margin-top: 15px;
  background-color: #ededed;
}
#message-form textarea {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 780px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .messages-container {
    height: 550px;
  }
  .message-history {
    padding: 10px;
  }
  .message-me {
    font-size: 11px;
    margin-top: 7.5px;
  }
  .mm-txt {
    max-width: 700px;
    padding: 5px;
  }
  #mm-img {
    margin-left: -20px;
    width: 35px;
    height: 35px;
  }
  #oth-img {
    margin-right: 20px;
    width: 35px;
    height: 35px;
  }
  @media (max-width: 360px) {
    .messages-container {
      height: 400px;
    }
  }
}
/* NAVBAR */
#navbar {
  width: 100%;
}
#nav-phone {
  display: none;
}
#navbarNavDropdown {
  margin-left: 55%;
}
.navbar-brand {
  margin-left: 15%;
}
/* RESPONSE CARD ----------------------- */
#response {
  border-radius: 20px;
  width: auto;
  height: auto;
  margin: 100px auto 100px auto;
}
#response:hover {
  cursor: pointer;
  box-shadow: 5px 5px 18px -2px #dfdfdf;
}
#response-photo {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 20px;
}
#response-content {
  padding: 30px 20px;
}
#response-content h4 {
  display: inline;
  font-size: 150%;
}
#response-content h5 {
  font-size: 100%;
  margin-top: 10px;
  width: 80%;
}
#response-bio {
  width: 80%;
  font-style: italic;
}
#response-close {
  font-size: 80%;
  display: inline;
  color: grey;
  float: right;
}
#response-close:hover {
  cursor: pointer;
  color: black;
  font-size: 16px;
}
#response-msg-icon {
  font-size: 50%;
  vertical-align: middle;
}

#response-arrow {
  display: inline;
  float: right;
}
/* DETAILS ------------------------ */
.details {
  width: 25%;
  height: 200px;
  margin: 100px 0 0 auto;
  text-align: center;
}
#project-details-card {
  border-radius: 25px;
}
#project-details-arrow {
  margin-left: 10px;
  vertical-align: middle;
  color: black;
}

#project-details-card:hover {
  box-shadow: 5px 5px 18px -2px #dfdfdf;
  cursor: pointer;
}
#project-details-img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
#project-details-body {
  padding: 5px;
}

/* DROPDOWN  -----------------------*/

@media (max-width: 768px) {
  #nav-phone {
    display: inline-block;
    margin-left: 80%;
  }
  #nav-not-phone {
    display: none;
  }
  #response {
    font-size: 65%;
  }
  #response-content h5 {
    width: 100%;
  }
  #response-photo {
    width: 100px;
    height: 100px;
  }
  #response-bio {
    width: 100%;
  }
}
